<div>
    <%= link_to raw("<h1 style='color: pink;'> Coffee House </h1>"), root_path %>
    <%= link_to "First", first_path %>
    <%= link_to "Second", second_path %>
    <%= link_to "posts/2", controller: :home, action: :show_post, id: 2, name: 'coffee_house' %>
    <%= @testName %>
</div>